.fb{
        padding-top: 70px;
        padding-bottom: 61px;
        

        @media screen and (min-width: 320px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__box {
            position: relative;
        }

        &__title  {
            color: $primary-color;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 130%;
            letter-spacing: 0.6px;
            width: 280px;
            display: block;
            margin-right: auto;
            margin-left: auto;

            @media screen and (min-width: 768px) {
                font-size: 26px;
                width: 688px;
                height: 32px;
            }

            @media screen and (min-width: 1336px) {
                width: 866px;
                height: 57px;
                letter-spacing: 1.38px;
                font-size: 46px;
            }
        }

        &__card { 
            @media screen and (min-width: 768px){
                box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
                padding: 40px;

                display: flex;
                gap: 46px;
            }
        }

        &__avatanya {
            width: 90px;
            height: 90px;

            @media screen and (min-width: 320px) {
            display: flex;
            margin-right: auto;
            margin-left: auto;
            margin-top: 25px;
            margin-bottom: 18px;
            }

            @media screen and (min-width: 768px) {
                width: 150px;
                height: 150px;

            }
        }

        &__facebook {
            width: 34px;
            height: 33.993px;
            
            @media screen and (min-width: 320px) {
                display: block;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 22px;
        }

            @media screen and (min-width: 768px){
                width: 34px;
                height: 34px;
            }

        }

        &__name {
            color: $max-text-color;
            text-align: center;
            font-family: "Montserrat";
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: 1.12px;
            width: 225px;

            @media screen and (min-width: 320px) {
                display: block;
                margin-right: auto;
                margin-left: auto;
        }

        @media screen and (min-width: 768px){
                width: 356px;
                font-size: 20px;
                display: flex;
                justify-content: start;
                margin-right: 0;
                margin-left: 0;
            }
        }

        &__details {
            color: $mini-text-color;
            text-align: center;
            font-family: "Montserrat";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.96px;
            width: 240px;
            margin-top: 20px;

            @media screen and (min-width: 320px) {
            display: flex;
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (min-width: 768px){
            width: 412px;
            text-align: start;
        }
        
        }

        &__feedback {
            color: $button-bak-color;
            text-align: center;
            font-family: "Montserrat";
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 166.667% */
            width: 240px;
            margin-top: 16px;
         
            @media screen and (min-width: 320px) {
            display: flex;
            margin-right: auto;
            margin-left: auto;
        }

        @media screen and (min-width: 768px){
            width: 412px;
            text-align: start;
        }
        }

        &__arrows {
            display: flex;
            align-items: center;
            margin-top: 52px;

            @media screen and (min-width: 320px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        }
        
        &__list {
            display: flex;
            flex-direction: row;
            gap: 10px;

            @media screen and (min-width: 768px){
                gap: 30px;
            }
        }

        &__element:nth-child(n+4) {
            @media screen and (min-width: 320px) {
                display: none;
            }

        @media screen and (min-width: 768px){
                display: block;
            }
        }

        &__arow {
            stroke-width: 2px;
            fill: $max-text-color;
            width: 10px;
            height: 10px;
            width: 25px;
            height: 15px;
            margin-right: 24px;
            
            @media screen and (min-width: 768px){
                position: absolute;
                top: 176px;
                left: 12px;
            }
        }

        &__aroww {
            transform: rotate(180deg);
            stroke-width: 2px;
            fill: $max-text-color;
            width: 10px;
            height: 10px;
            width: 25px;
            height: 15px;
            margin-left: 24px;

            @media screen and (min-width: 768px){
                position: absolute;
                top: 176px;
                right: 12px;
            }
        }

        &__readmore {
            color: #FF6B09;
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;

            @media screen and (min-width: 320px) {
                display: flex;
                justify-content: center;
                align-items: center;
        }
 
            @media screen and (min-width: 768px){
                width: 412px;
                justify-content: start;
        }
        }
        
        &__work-images {
            width: 54px;
            height: 54px;
        }
}
