.footer {
    padding-top: 50px;

    &__whitebg {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 30px;
    }

    &__ilogo {
        width: 80px;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
 
    &__adaptat {

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
        }
    }

    &__contact {
        @media screen and (min-width: 320px) {
            
            justify-content: center;
            align-items: center;
           
        }

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
        }

        @media screen and (min-width: 1336px) {
            display: flex;
            align-items: center;
        }
    }

    &__connect {
        
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 23px;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-left: auto;
            display: flex;
            align-items: center;
            margin-right: 40px;
            padding-right: 20px;
            border-right: 1px solid $mini-text-color;
            height: 40px;
        }
    }

    &__phone {
        margin-left: 10px;
        width: 169px;
        color: $primary-color;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.12px;
    }

    &__iphone {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        fill: $max-text-color;

        @media screen and (min-width: 768px) {
            margin-right: 5px;
            margin-left: auto;
        }
    }

    &__igramm {
        width: 40px;
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
       
    }

    &__blackbg {
        width: 100%;
        height: 68px;
        background-color: $primary-color;
        position: relative;
    }
    
    
    &__copyright {
        color: $mini-text-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 28px; /* 200% */
        position: absolute;
        top: 20px;
        
        @media screen and (min-width: 320px) {
            left: 68px;
        }

        @media screen and (min-width: 768px) {
            left: 40px;
        }

        @media screen and (min-width: 1336px) {
            left: 183px;
        }
    }
}