.header{
    padding-top: 30px;

    @media screen and (min-width: 768px) {
       padding-top: 40px; 
    }

    @media screen and (min-width: 1336px) {
        padding-top: 30px;
    }

     &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
       justify-content: flex-start;
    }
    }

    &__svg{
        width: 80px;
        height: 30px;

        @media screen and (min-width: 768px) {
        width: 128px;
        height: 45px;
    }
    }

    &__list{
        display: none;

        @media screen and (min-width: 1336px) {
        display: flex;
        gap: 39.94px;
        margin-left: 143.59px;
    }
    }

    &__message{
        color: #B9B9B9;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;

        &:hover{
            color: #FF6B09;
        }
    }

    &__consultation{
        display: none;

        @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FF6B09;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 1.96px;
        text-transform: uppercase;
        border: 2px solid #FF6B09;
        padding: 15px 5px 16px 5px;
        background-color: transparent;
        margin-left: 239px;
        margin-right: 40px;

        @media screen and (min-width: 1336px) {
        margin-left: 59.92px;
        padding: 27px 22.96px 26px 23.96px;
        width: 335.489px;
    }
    }
    }

    &__button{
        border: none;
        background-color: transparent;
        padding: 0;
        width: 27px;
        height: 18px;

        @media screen and (min-width: 1336px) {
        display: none;
    }
    }

    &__menu{
        width: 27px;
        height: 18px;
        fill: #000000;

        @media screen and (min-width: 1336px) {
        display: none;
    }
    }
}
