.program {
  padding-top: 50px;
  padding-bottom: 430px;
  overflow: hidden;
  background-color: $primary-color;
  position: relative;
  @media screen and (min-width: 768px) {
    padding-bottom: 168px;
  }
    @media screen and (min-width: 1336px){
   padding-bottom: 326px;
  }
  

  &__a{
      @media screen and (min-width: 1336px){
    position: relative;
  }
  }

  &__list {
    margin-left: 70px;
    > :not(:first-child) {
      margin-top: 40px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    > :nth-child(2) {
      margin-top: 43px;

      @media screen and (min-width: 768px) {
        margin-top: 6px;
      }
        @media screen and (min-width: 1336px){
    margin-top: 0;
  }
    }

    > :nth-child(3) {
      margin-top: 44px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    > :nth-child(4) {
      margin-top: 61px;

      @media screen and (min-width: 768px) {
        margin-top: 10px;
      }
              @media screen and (min-width: 1336px){
    margin-top: 0;
  }
    }

    > :nth-child(5) {
      margin-top: 50px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }
      @media screen and (min-width: 1336px){
    display: flex;
    margin-left: 0;
    gap: 46px;
  }
  }

  &__svg-mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__svg-tablet {
    @media screen and (min-width: 320px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      display: block;
    }

      @media screen and (min-width: 1336px){
    display: none;
  }
  }

  &__svg-destop{
    display: none;
      @media screen and (min-width: 1336px){
    display: block;
  }
  }

&__item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > :not(:first-child) {
    margin-top: 10px;
      @media screen and (min-width: 1336px) {
    margin-top: 0;
  }
  }

}


  &__boxx {
    position: relative;
      @media screen and (min-width: 1336px){

    padding: 0;
    margin: 0;
  }
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 768px) {
      gap: 50px;
      flex-direction: row;
    }
      @media screen and (min-width: 1336px){
    flex-direction: column;
    gap: 25px;
  }
  }

  &__svg {
    height: 1292px;
    width: 15px;
    position: absolute;
    top: 7px;
    left: 45px;

    @media screen and (min-width: 768px) {
      height: 100%;
      display: block;
      top: -52px;
      left: 40px;
      width: 22px;
    }

      @media screen and (min-width: 1336px){
    width: 1680px;
    height: 16px;
    position: absolute;
    top: 120px;
    left: -160px;
  }
  }

  &__image {
    width: 120px;
    position: absolute;
    top: 1450px;
    right: 0;
    @media screen and (min-width: 768px) {
      top: 730px;
      width: 374px;
      left: auto;
    }
      @media screen and (min-width: 1336px){
    left: -85px;
    top: 492px;
    width: 500px;
  }
  }

  &__title {
    color: $team-background-color;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin-bottom: 52px;

    @media screen and (min-width: 768px) {
      text-align: start;
    }

      @media screen and (min-width: 1336px){
    font-size: 46px;
    margin-bottom: 106px;
  }
  }

  &__heading {
    color: $team-background-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1.12px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      text-align: start;
      // margin-top: 30px;
    }
  }

  &__subtitle {
    color: $team-background-color;
    font-size: 20px;
    font-weight: 800;
    line-height: 136%; /* 27.2px */
    letter-spacing: 0.6px;
    width: 180px;
    margin-top: 70px;
    @media screen and (min-width: 768px) {
      width: 688px;
      text-align: center;
    }
      @media screen and (min-width: 1336px){
    display: none;
  }
  }
}
.lesson {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    color: $max-text-color;
    font-size: 12px;
    font-weight: 700;
    line-height: 164.9%;
    letter-spacing: 0.96px;
    margin: 0;

    @media screen and (min-width: 768px) {
    }
  }

  &__text {
    color: $button-bak-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.96px;
    width: 176px;

    @media screen and (min-width: 768px) {
      width: 180px;
      margin-bottom: 20px;
    }
     @media screen and (min-width: 1336px){
    width: 226px;
    margin-bottom: 0;
  }
  }
}

.benefits {
  position: absolute;
  margin-top: -400px;
  width: 280px;
    left: 50%;
  transform: translateX(-50%);
  padding: 35px 22px;
  background-color: $team-background-color;
  box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);
  order: 6;
  @media screen and (min-width: 768px) {
    padding: 40px 80px;
    width: 718px;
    margin-top: -140px;
  }
  @media screen and (min-width: 1336px){
width: 1314px;
padding: 67px 113px;
margin-top: -190px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
        @media screen and (min-width: 1336px){
    justify-content: space-between;
  }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 768px) {
      width: 236px;
      gap: 20px;
    }
      @media screen and (min-width: 1336px){
    gap: 40px;
    width: 336px;
  }
  }

  &__number {
    color: $max-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 164.9%;
    letter-spacing: 1.12px;
  }

  &__text {
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.12px;
      @media screen and (min-width: 1336px){
    width: 336px;
  }
  }
}