.program {
  padding-top: 50px;
  background-color: $primary-color;
  position: relative;

  &__list {
    margin-left: 70px;

    > :not(:first-child) {
      margin-top: 40px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    > :nth-child(2) {
      margin-top: 53px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    > :nth-child(3) {
      margin-top: 54px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    > :nth-child(4) {
      margin-top: 70px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }

    > :nth-child(5) {
      margin-top: 63px;

      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }
  }

  &__svg-mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__svg-tablet {
    @media screen and (min-width: 320px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
   > :not(:first-child){
    margin-top: 30px;
   }
    // @media screen and (min-width: 768px) {
    //   gap: 30px;
    // }
  }

  &__boxx {
    position: relative;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (min-width: 768px) {
      gap: 50px;
      flex-direction: row;
    }
  }

  &__svg {
    height: 1292px;
    width: 15px;
    position: absolute;
    top: 7px;
    left: 45px;

    @media screen and (min-width: 768px) {
      height: 100%;
      display: block;
      top: -50px;
      left: 40px;
      width: 21px;
    }
  }

  &__image {
    width: 120px;
    position: absolute;
    top: 1450px;
    right: 0;
  }

  &__title {
    color: $team-background-color;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 130%;
    letter-spacing: 0.6px;
    margin-bottom: 52px;

    @media screen and (min-width: 768px) {
      text-align: start;
    }
  }

  &__heading {
    color: $team-background-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1.12px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      text-align: start;
      // margin-top: 30px;
    }
  }

  &__subtitle {
    color: $team-background-color;
    font-size: 20px;
    font-weight: 800;
    line-height: 136%; /* 27.2px */
    letter-spacing: 0.6px;
    width: 180px;
    margin-top: 70px;
  }
}

.lesson {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__title {
    color: $max-text-color;
    font-size: 12px;
    font-weight: 700;
    line-height: 164.9%;
    letter-spacing: 0.96px;
    margin: 0;

    @media screen and (min-width: 768px) {
    }
  }

  &__text {
    color: $button-bak-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.96px;
    width: 176px;

    @media screen and (min-width: 768px) {
      width: 150px;
    }
  }
}

.benefits {
  padding: 35px 22px;
  background-color: $team-background-color;
  box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__number {
    color: $max-text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 164.9%;
    letter-spacing: 1.12px;
  }

  &__text {
    color: $primary-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.12px;
  }
}
