$mini-text-color: #B9B9B9;
$max-text-color: #FF6B09;
$primary-color: #111518;
$team-background-color: #FFF;
$button-bak-color: #3D3D3D;
$box-shadow-btn-color:  -5px 8px 26px 0px rgba(0, 0, 0, 0.04);
$special-background: #F1F1F1;