a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 26px;
  padding-right: 26px;
  outline: solid 1px red;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1336px) {
  .container {
    width: 1336px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}

.program {
  padding-top: 50px;
  background-color: #111518;
  position: relative;
}
.program__list > :not(:first-child) {
  margin-top: 40px;
}
.program__list > :nth-child(2) {
  margin-top: 54px;
}
.program__list > :nth-child(3) {
  margin-top: 93px;
}
.program__list > :nth-child(4) {
  margin-top: 70px;
}
.program__list > :nth-child(5) {
  margin-top: 80px;
}
.program__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.program__boxx {
  position: relative;
}
.program__sublist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.program__svg {
  height: 1292px;
  width: 15px;
  position: absolute;
  top: 7px;
  left: 50px;
}
.program__image {
  width: 120px;
  position: absolute;
  top: 1450px;
  right: 0;
}
.program__title {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}
.program__heading {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  text-align: center;
}
.program__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  line-height: 136%; /* 27.2px */
  letter-spacing: 0.6px;
  width: 180px;
  margin-top: 70px;
}

.lesson {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.lesson__title {
  color: #FF6B09;
  font-size: 12px;
  font-weight: 700;
  line-height: 164.9%;
  letter-spacing: 0.96px;
  margin: 0;
  margin-left: 85px;
}
.lesson__text {
  color: #3D3D3D;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.96px;
  margin-left: 85px;
}

.benefits {
  padding: 35px 22px;
  background-color: #FFF;
  box-shadow: -5px 8px 26px 0px rgba(0, 0, 0, 0.04);
}
.benefits__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.benefits__item > :nth-child(3) .benefits__text {
  width: 10px;
}
.benefits__number {
  color: #FF6B09;
  font-size: 14px;
  font-weight: 700;
  line-height: 164.9%;
  letter-spacing: 1.12px;
}
.benefits__text {
  color: #111518;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.12px;
  width: 100%;
}

.registration {
  padding: 55px 0;
  background: #111518 url("../img/mobail/backgraund-mobail@1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .registration {
    background: #111518 url("../img/mobail/backgraund-mobail@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .registration {
    padding: 60px 0 68px 0;
    background: #111518 url("../img/tablet/background-tablet@1x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration {
    background: #111518 url("../img/tablet/background-tablet@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1336px) {
  .registration {
    padding: 100px 0 62px 0;
    background: #111518 url("../img/destop/backgraund-destop@1x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1336px) and (min-device-pixel-ratio: 2), screen and (min-width: 1336px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1336px) and (min-resolution: 192dpi), screen and (min-width: 1336px) and (min-resolution: 2dppx) {
  .registration {
    background: #111518 url("/img/destop/backgraund-destop@2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.registration__title {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1.38px;
  margin-bottom: 25px;
  width: 280px;
}
@media screen and (min-width: 768px) {
  .registration__title {
    width: 725px;
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1336px) {
  .registration__title {
    width: 980px;
    font-size: 46px;
    letter-spacing: 1.38px;
    margin-left: auto;
    margin-right: auto;
  }
}
.registration__span {
  color: #FF6B09;
}
.registration__text {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  width: 280px;
  margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
  .registration__text {
    width: 545px;
    font-size: 16px;
    letter-spacing: 1.28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1336px) {
  .registration__text {
    margin-bottom: 56px;
    width: 1090px;
    font-size: 30px;
    letter-spacing: 2.4px;
  }
}
.registration__diskripshon {
  color: #FF6B09;
}
.registration__form > :nth-child(1) {
  margin-bottom: 20px;
}
.registration__form > :nth-child(2) {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .registration__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1336px) {
  .registration__form > :nth-child(1) {
    margin-bottom: 30px;
  }
  .registration__form > :nth-child(2) {
    margin-bottom: 80px;
  }
}
.registration__input {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.12px;
  padding: 15px 0 16px 28px;
  width: 100%;
  height: 48px;
  background-color: transparent;
  border: 1px solid #FFF;
}
.registration__input::-moz-placeholder {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.12px;
}
.registration__input::placeholder {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.12px;
}
@media screen and (min-width: 768px) {
  .registration__input {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1336px) {
  .registration__input {
    width: 478px;
  }
}
.registration__btn {
  color: #fff;
  background-color: #FF6B09;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border: none;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  padding: 14px 0 14px 0;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */