<section class="doit">
  <div class="container">
    <h2 class="doit__heading">How do we do it</h2>
    <ul class="doit__list">
      <li class="doit__items">
        <svg class="doit__svg">
          <use href="./img/symbol-defs.svg#icon-study-program"></use>
        </svg>
        <h3 class="doit__title">Adapted program preparation for UPE</h3>
        <h3 class="doit__line">__</h3>
        <p class="doit__desc">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays.
        </p>
      </li>
      <li class="doit__items">
        <svg class="doit__svg">
          <use href="./img/symbol-defs.svg#icon-mobile-learning"></use>
        </svg>
        <h3 class="doit__title">Classroom and online learning</h3>
        <h3 class="doit__line">__</h3>
        <p class="doit__desc">
          The teacher will help not only in the classroom, but also during home
          preparation. Parents can chat if they wish.
        </p>
      </li>
      <li class="doit__items">
        <svg class="doit__svg">
          <use href="./img/symbol-defs.svg#icon-open-book"></use>
        </svg>
        <h3 class="doit__title">The habit of reading in English</h3>
        <h3 class="doit__line">__</h3>
        <p class="doit__desc">
          Articles from sources that are used in the development of this UPE
          will be received by phone twice a week.
        </p>
      </li>
      <li class="doit__items">
        <svg class="doit__svg">
          <use href="./img/symbol-defs.svg#icon-union"></use>
        </svg>
        <h3 class="doit__title">Psychological support</h3>
        <h3 class="doit__line">__</h3>
        <p class="doit__desc">
          We will teach you testing techniques, the ability to plan your
          confidence training in itself.
        </p>
      </li>
      <li class="doit__items">
        <svg class="doit__svg">
          <use href="./img/symbol-defs.svg#icon-female-student"></use>
        </svg>
        <h3 class="doit__title">Training on copyright manuals</h3>
        <h3 class="doit__line">__</h3>
        <p class="doit__desc">
          You don't have to waste your time on a search for material and to buy
          anything extra. We have compiled 2 manuals for you.
        </p>
      </li>
      <li class="doit__items">
        <svg class="doit__svg">
          <use href="./img/symbol-defs.svg#icon-audio-book"></use>
        </svg>
        <h3 class="doit__title">Ability to comprehend spoken English</h3>
        <h3 class="doit__line">__</h3>
        <p class="doit__desc">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze
          audio recordings in accordance with the studied vocabulary.
        </p>
      </li>
    </ul>
  </div>
</section>