<footer class="footer">
  <div class="footer-top">
    <div class="footer-logo">
      <svg class="team__icon">
        <use href="./img/symbol-defs.svg#icon-twitter"></use>
      </svg>
    </div>
    <div class="footer-contact">
      <a href="tel:+380991234567">
       <svg class="team__icon">
        <use href="./img/symbol-defs.svg#icon-phone"></use>
        </svg>
    </div>
    <div class="footer-social">
      <a href="#" class="footer-instagram" aria-label="Instagram">
        <svg class="team__icon">
         <use href="../img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="footer-copyright">
      © All rights reserved, 2022
    </span>
  </div>
</footer>
