<footer class="footer">
  <div class="footer__top">
    <div class="footer__logo">
      <svg class="footer__ilogo">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </div>
    <div class="footer__contact">
      <svg class="footer__iphone">
       <use href="./img/symbol-defs.svg#icon-phone"></use>
      </svg>
         <a class="footer__phone" href="tel:+380991234567">+38 (099) 123 45 67</a>
    </div>
    <div class="footer__social">
      <a href="#" class="footer__instagram" aria-label="Instagram">
        <svg class="footer__igramm">
         <use href="../img/universal/instagram.svg"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="footer__bottom">
    <span class="footer__copyright">
      © All rights reserved, 2022
    </span>
  </div>
</footer>
