<header class="header">
    <div class="container header__box">
        <a href="#" class="header__link">
        <svg class="header__svg">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg></a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="#" class="header__message">Studying program</a></li>
                <li class="header__item"><a href="#" class="header__message">about</a></li>
                <li class="header__item"><a href="#" class="header__message">training options</a></li>
                <li class="header__item"><a href="#" class="header__message">contacts</a></li>
            </ul>
        </nav>
        <button type="button" class="header__consultation">consultation by phone</button>
        <button type="button" class="header__button"><svg class="header__menu">
            <use href="./img/symbol-defs1.svg#icon-menu"></use>
        </svg></button>
    </div>
</header>