<section class="hero">
    <div class="container">
        <div class="hero__div">
        <svg class="hero__wave">
            <use href="./img/symbol-defs2.svg#icon-wave-mobile" class="hero__use"></use>
        </svg>
        <svg class="hero__tablet-wave">
            <use href="./img/symbol-defs2.svg#icon-wave-desktop" class="hero__use"></use>
        </svg>
        <svg class="hero__desktop-wave">
            <use href="./img/symbol-defs2.svg#icon-wave-desktop" class="hero__use"></use>
        </svg>
        <div class="hero__flex">
        <nav class="hero__nav">
        <h2 class="hero__title">Complex preparation for English UPE</h2>
        <p class="hero__text">It won’t be easy.</p>
        <p class="hero__desk">But you’re guaranteed to get</p>
        <p class="hero__deskription">+25 points</p>
        <p class="hero__desktop">But you are guaranteed to get +25 points</p>
        <button type="button" class="hero__btn"><a href="#" class="hero__link">I want a free lesson</a></button> 
        </nav>
            <picture class="hero__img">
                <source srcset="./img/destop/hero-desktop@1x.webp 1x, ./img/destop/hero-desktop@2x.webp 2x" media="(min-width: 1336px)">
                <source srcset="./img/tablet/hero-tablet@1x.webp 1x, ./img/tablet/hero-tablet@2x.webp 2x" media="(min-width: 768px)">
                <source srcset="./img/mobail/hero-mobile@1x.webp 1x, ./img/mobail/hero-mobile@2x.webp 2x" media="(max-width: 767px)">
                <img src="./img/destop/hero-desktop@1x.webp" alt="foto">
            </picture>
        </div>
        <ul class="hero__list">
            <li class="hero__item">
                <svg class="hero__frames">
                    <use href="./img/symbol-defs3.svg#icon-program"></use>
                </svg>
                <div class="hero__box">
                <svg class="hero__rectangle">
                    <use href="./img/symbol-defs3.svg#icon-desktop-program"></use>
                </svg>
                <p class="hero__pluses">Adapted author's UPE program</p>
                </div>
            </li>
            <li class="hero__item">
                <svg class="hero__frames">
                    <use href="./img/symbol-defs3.svg#icon-result"></use>
                </svg>
                <div class="hero__box">
                <svg class="hero__rectangle">
                    <use href="./img/symbol-defs3.svg#icon-desktop--methods"></use>
                </svg>
                <p class="hero__pluses">Modern teaching methods</p>
            </div>
            </li>
            <li class="hero__item">
                <svg class="hero__frames">
                    <use href="./img/symbol-defs3.svg#icon-methods"></use>
                </svg>
                <div class="hero__box">
                <svg class="hero__rectangle">
                    <use href="./img/symbol-defs3.svg#icon-desktop-result"></use>
                </svg>
                <p class="hero__pluses">Financial guarantee<br class="hero__br"> the result</p>
                </div>
            </li>
        </ul>
        </div>
    </div>
</section>