<section class="modal is__hidden" data-modal>
    <div class="container">
        <div class="modal__div">
    <button type="button" class="modal__logo"><svg class="modal__svg">
        <use href="../img/symbol-defs5.svg#icon-modal-logo"></use>
    </svg></button>
    <button type="button" class="modal__close" data-modal-close><svg class="modal__icon">
        <use href="../img/symbol-defs.svg#icon-cross"></use>
    </svg></button>
        </div>
    <ul class="modal__list">
        <li class="modal__item"><a href="#" class="modal__link">Studying program</a></li>
        <li class="modal__item"><a href="#" class="modal__link">About</a></li>
        <li class="modal__item"><a href="#" class="modal__link">Training options</a></li>
        <li class="modal__item"><a href="#" class="modal__link">Contacts</a></li>
    </ul>
    <button type="button" class="modal__btn">Consultation by phone</button>
    </div>
</section>