<section class="problems">
  <div class="container problems__box">
    <h2 class="problems__title">
      The main problems of students
      in English <span class="problems__high">UPE</span>, which
      we <span class="problems__highlight">help</span> to solve
    </h2>
<img class="problems__image" src="./img/destop/campfire.png" alt="">
  </div>
  

</section>
   <div class="grammar">
  <ul class="grammar__list">
    <li class="grammar__item">
      <h3 class="grammar__number">01</h3>
      <p class="grammar__text">Grammar</p>
    </li>
    <li class="grammar__item">
      <h3 class="grammar__number">02</h3>
      <p class="grammar__text">Inability to understand<br>spoken English</p>
    </li>
    <li class="grammar__item">
      <h3 class="grammar__number">03</h3>
      <p class="grammar__text">Stingy vocabulary for writing an essay</p>
    </li>
    <li class="grammar__item">
      <h3 class="grammar__number">04</h3>
      <p class="grammar__text">Preparing alone</p>
    </li>
    <li class="grammar__item">
      <h3 class="grammar__number">05</h3>
      <p class="grammar__text">Lack of a single knowledge resource</p>
    </li>
    <li class="grammar__item">
      <h3 class="grammar__number">06</h3>
      <p class="grammar__text">Lack of self-organization</p>
    </li>
  </ul>
</div>


