<section class="program">

  <div class="container program__a">
          <svg class="program__svg">
        <use class="program__svg-destop" href="./img/destop/destop-linr.svg"></use>
      </svg>
    <h2 class="program__title">Our program</h2>
    <div class="program__boxx">
      <svg class="program__svg">
        <use class="program__svg-mobile" href="./img/mobail/mobile-line.svg"></use>
        <use class="program__svg-tablet" href="/img/symbol-defs.svg#icon-decoration"></use>
      </svg>

      <ul class="program__list program__box">
        <li class="program__item">
          <h3 class="program__heading">1 semester</h3>
          <ul class="program__sublist">
            <li class="lesson">
              <h4 class="lesson__title">— Grammar</h4>
              <p class="lesson__text">Nouns & Articles  Adjectives & Adverb</p>
            </li>
            <li class="lesson">
              <h4 class="lesson__title">— Vocabulary</h4>
              <p class="lesson__text">
                Family & Relations
                People & Society
              </p>
            </li>
          </ul>
        </li>

        <li class="program__item">
          <h3 class="program__heading">2 semester</h3>
          <ul class="program__sublist">
            <li class="lesson">
              <h4 class="lesson__title">— Grammar</h4>
              <p class="lesson__text">
                Pronouns <br>
                Active Voice <br>
                Passive Voice
              </p>
            </li>
            <li class="lesson">
              <h4 class="lesson__title">— Vocabulary</h4>
              <p class="lesson__text">Home <br> School <br class="br"> Work</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__heading">3 semester</h3>
          <ul class="program__sublist">
            <li class="lesson">
              <h4 class="lesson__title">— Grammar</h4>
              <p class="lesson__text">
                Modal verbs <br>
                Infinitive <br>
                Gerund <br>
                Participle: 1 2
              </p>
            </li>
            <li class="lesson">
              <h4 class="lesson__title">— Vocabulary</h4>
              <p class="lesson__text">
                Travel & Tourism <br>
                Culture & Free Time <br>
                Sport
              </p>
            </li>
            <li class="lesson">
              <h4 class="lesson__title">— Writing</h4>
              <p class="lesson__text">Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__heading">4 semester</h3>
          <ul class="program__sublist">
            <li class="lesson">
              <h4 class="lesson__title">— Grammar</h4>
              <p class="lesson__text">
                Clauses: Conditional and Wishes <br> 
                Direct / Reported speech <br> Preposition <br>
                Conjunction <br>
                Numeral
              </p>
            </li>
            <li class="lesson">
              <h4 class="lesson__title">— Vocabulary</h4>
              <p class="lesson__text">
                Healthy Living <br> Nature & Environment <br> Money
              </p>
            </li>
            <li class="lesson">
              <h4 class="lesson__title">— Writing</h4>
              <p class="lesson__text">Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__heading">5 semester</h3>
          <ul class="program__sublist">
            <li class="lesson">
              <h4 class="lesson__title">—</h4>
              <p class="lesson__text">
                Revision <br>
                Tests
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="
          ./img/destop/women-destop@1x.webp 1x,
          ./img/destop/women-destop@2x.webp 2x
        "
        media="(min-width: 1336px)"
      />
      <source
        srcset="
          ./img/tablet/women-tablet@1x.webp 1x,
          ./img/tablet/women-tablet@2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        set="
         /img/mobail/women-mobail@1x.webp 1x,
         /img/mobail/women-mobail@2x.webp 2x,
        "
        media="(max-width: 767px)"
      />
      <img
        src="/img/mobail/women-mobail@1x.webp"
        alt="women"
        class="program__image"
      />
    </picture>
    <h2 class="program__subtitle">Why do people choose us</h2>
  </div>
</section>
 <div class="benefits">
      <ul class="benefits__list">
        <li class="benefits__item">
          <h3 class="benefits__number">— 01</h3>
          <p class="benefits__text">Training in small groups</p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">— 02</h3>
          <p class="benefits__text">Rendered notes</p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">— 03</h3>
          <p class="benefits__text">
            Each lesson has a goal and a specific result
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">— 04</h3>
          <p class="benefits__text">The real results of the teacher</p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">— 05</h3>
          <p class="benefits__text">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__number">— 06</h3>
          <p class="benefits__text">Set of groups by level of knowledge</p>
        </li>
      </ul>
 </div>